
#home{
    display: flex;
    min-height: calc(100vh - 92px);
    position: relative;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: -200px;
    z-index: 10;
}

#cta .title{
    font-size: 3rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #4169E1;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

.slider{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.shape{
    background-color: #4169E1;
    width: 50%;
    height: 70%;
    position: absolute;
    border-radius: 15%;
    top: 5rem;
    right: 40px;
    z-index: 1;
    
}