@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E0FFFF;
}
section{
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4169E1;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 0.1);
    color: aliceblue;
    cursor: pointer;
    transition: background-color .3s ease;
}
.btn-default:hover{
    background-color: #00BFFF;
}

.btn-default a{
    text-decoration: none;
    color: aliceblue;
}

.navegate-btn{
    display: flex;
    gap: 18px;
    text-decoration: none;
}

.navegate-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.navegate-btn a:hover {
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0, 0.1);
}

