header{
    margin-top: 0;
    background-color:#0d1b2a;
}


body {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
 background-color: #E0E1DD;
}

rect{
  background-color: #E0E1DD;
  color: #E0E1DD;
}

p {
  color: black;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 & h2  {
  color: black  !important;
  margin-top: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  color: black  ;
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.text-body-secondary {
  color: #415A77 !important; 
}

.featurette-heading {
    color: black !important;
}

.meu-h2{
  color: black;
}

.minha-img {
  object-fit: contain;
}

.meu-botao {
  background-color: #0D1B2A; 
  color: #fff;
  border: none;
  transition: 0.3s;
  border: 3px #e0e1dd;
}

.meu-botao:hover {
  background-color: #778DA9; 
  color: #fff;
}

.hero-section {
  background-image: url("../../image/negocios.png");
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
  min-height: calc(100vh - 70px);          
  position: relative;
}

/* overlay escuro para melhorar leitura do texto  */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.p2{
  color: white;
}
